<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat - Da - Burger</title>
</head>

<body>
	<img src="https://ih0.redbubble.net/image.105749718.3184/ap,550x550,16x12,1,transparent,t.u5.png" width="200px" id="cute_burger">

	{{{ body }}}

</body>
</html>